In [20]:
import ydata_profiling

In [21]:
from ydata_profiling import ProfileReport

In [22]:
import seaborn as sns

In [23]:
import pandas as pa
df_train=pa.read_csv('train.csv')
df_train

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
0,1000001,P00069042,F,0-17,10,A,2,0,3,NaN,NaN,8370
1,1000001,P00248942,F,0-17,10,A,2,0,1,6.0,14.0,15200
2,1000001,P00087842,F,0-17,10,A,2,0,12,NaN,NaN,1422
3,1000001,P00085442,F,0-17,10,A,2,0,12,14.0,NaN,1057
4,1000002,P00285442,M,55+,16,C,4+,0,8,NaN,NaN,7969
...,...,...,...,...,...,...,...,...,...,...,...,...
550063,1006033,P00372445,M,51-55,13,B,1,1,20,NaN,NaN,368
550064,1006035,P00375436,F,26-35,1,C,3,0,20,NaN,NaN,371
550065,1006036,P00375436,F,26-35,15,B,4+,1,20,NaN,NaN,137
550066,1006038,P00375436,F,55+,1,C,2,0,20,NaN,NaN,365
550067,1006039,P00371644,F,46-50,0,B,4+,1,20,NaN,NaN,490

In [24]:
df=sns.load_dataset('tips')

In [25]:
profile=ProfileReport(df,explorative=True,dark_mode=True)

In [26]:
profile.to_file('output.html')

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]

In [27]:
df_1=sns.load_dataset('titanic')
df_1

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,0,2,male,27.0,0,0,13.0000,S,Second,man,True,NaN,Southampton,no,True
887,1,1,female,19.0,0,0,30.0000,S,First,woman,False,B,Southampton,yes,True
888,0,3,female,NaN,1,2,23.4500,S,Third,woman,False,NaN,Southampton,no,False
889,1,1,male,26.0,0,0,30.0000,C,First,man,True,C,Cherbourg,yes,True
890,0,3,male,32.0,0,0,7.7500,Q,Third,man,True,NaN,Queenstown,no,True

In [28]:
profile=ProfileReport(df_1,explorative=True,dark_mode=True)

In [29]:
profile.to_file('df_1.html')

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]

In [30]:
import pandas as pd
import dtale
dtale.show(df_1)

In [31]:
!pip install autoviz

Requirement already satisfied: autoviz in d:\new folder\anaconda\lib\site-packages (0.1.803)
Requirement already satisfied: bokeh~=2.4.2 in d:\new folder\anaconda\lib\site-packages (from autoviz) (2.4.3)
Requirement already satisfied: emoji in d:\new folder\anaconda\lib\site-packages (from autoviz) (2.9.0)
Requirement already satisfied: fsspec>=0.8.3 in d:\new folder\anaconda\lib\site-packages (from autoviz) (2023.4.0)
Requirement already satisfied: holoviews~=1.14.9 in d:\new folder\anaconda\lib\site-packages (from autoviz) (1.14.9)
Requirement already satisfied: hvplot~=0.7.3 in d:\new folder\anaconda\lib\site-packages (from autoviz) (0.7.3)
Requirement already satisfied: matplotlib<=3.7.4 in d:\new folder\anaconda\lib\site-packages (from autoviz) (3.7.2)
Requirement already satisfied: nltk in d:\new folder\anaconda\lib\site-packages (from autoviz) (3.8.1)
Requirement already satisfied: numpy in d:\new folder\anaconda\lib\site-packages (from autoviz) (1.24.3)
Requirement already satisfied: pandas in d:\new folder\anaconda\lib\site-packages (from autoviz) (2.0.3)
Requirement already satisfied: pandas-dq>=1.29 in d:\new folder\anaconda\lib\site-packages (from autoviz) (1.29)
Requirement already satisfied: panel>=0.12.6 in d:\new folder\anaconda\lib\site-packages (from autoviz) (0.14.4)
Requirement already satisfied: pyamg in d:\new folder\anaconda\lib\site-packages (from autoviz) (5.0.1)
Requirement already satisfied: scikit-learn in d:\new folder\anaconda\lib\site-packages (from autoviz) (1.3.0)
Requirement already satisfied: seaborn>=0.12.2 in d:\new folder\anaconda\lib\site-packages (from autoviz) (0.12.2)
Requirement already satisfied: statsmodels in d:\new folder\anaconda\lib\site-packages (from autoviz) (0.14.0)
Requirement already satisfied: textblob in d:\new folder\anaconda\lib\site-packages (from autoviz) (0.17.1)
Requirement already satisfied: typing-extensions>=4.1.1 in d:\new folder\anaconda\lib\site-packages (from autoviz) (4.7.1)
Requirement already satisfied: wordcloud in d:\new folder\anaconda\lib\site-packages (from autoviz) (1.9.3)
Requirement already satisfied: xgboost<1.7,>=0.82 in d:\new folder\anaconda\lib\site-packages (from autoviz) (1.6.2)
Requirement already satisfied: xlrd in d:\new folder\anaconda\lib\site-packages (from autoviz) (2.0.1)
Requirement already satisfied: Jinja2>=2.9 in d:\new folder\anaconda\lib\site-packages (from bokeh~=2.4.2->autoviz) (3.1.2)
Requirement already satisfied: packaging>=16.8 in d:\new folder\anaconda\lib\site-packages (from bokeh~=2.4.2->autoviz) (23.1)
Requirement already satisfied: pillow>=7.1.0 in d:\new folder\anaconda\lib\site-packages (from bokeh~=2.4.2->autoviz) (9.4.0)
Requirement already satisfied: PyYAML>=3.10 in d:\new folder\anaconda\lib\site-packages (from bokeh~=2.4.2->autoviz) (6.0)
Requirement already satisfied: tornado>=5.1 in d:\new folder\anaconda\lib\site-packages (from bokeh~=2.4.2->autoviz) (6.3.2)
Requirement already satisfied: param<2.0,>=1.9.3 in d:\new folder\anaconda\lib\site-packages (from holoviews~=1.14.9->autoviz) (1.13.0)
Requirement already satisfied: pyviz-comms>=0.7.4 in d:\new folder\anaconda\lib\site-packages (from holoviews~=1.14.9->autoviz) (2.3.0)
Requirement already satisfied: colorcet in d:\new folder\anaconda\lib\site-packages (from holoviews~=1.14.9->autoviz) (3.0.1)
Requirement already satisfied: contourpy>=1.0.1 in d:\new folder\anaconda\lib\site-packages (from matplotlib<=3.7.4->autoviz) (1.0.5)
Requirement already satisfied: cycler>=0.10 in d:\new folder\anaconda\lib\site-packages (from matplotlib<=3.7.4->autoviz) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in d:\new folder\anaconda\lib\site-packages (from matplotlib<=3.7.4->autoviz) (4.25.0)
Requirement already satisfied: kiwisolver>=1.0.1 in d:\new folder\anaconda\lib\site-packages (from matplotlib<=3.7.4->autoviz) (1.4.4)
Requirement already satisfied: pyparsing<3.1,>=2.3.1 in d:\new folder\anaconda\lib\site-packages (from matplotlib<=3.7.4->autoviz) (3.0.9)
Requirement already satisfied: python-dateutil>=2.7 in d:\new folder\anaconda\lib\site-packages (from matplotlib<=3.7.4->autoviz) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in d:\new folder\anaconda\lib\site-packages (from pandas->autoviz) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in d:\new folder\anaconda\lib\site-packages (from pandas->autoviz) (2023.3)
Requirement already satisfied: markdown in d:\new folder\anaconda\lib\site-packages (from panel>=0.12.6->autoviz) (3.4.1)
Requirement already satisfied: requests in d:\new folder\anaconda\lib\site-packages (from panel>=0.12.6->autoviz) (2.31.0)
Requirement already satisfied: tqdm>=4.48.0 in d:\new folder\anaconda\lib\site-packages (from panel>=0.12.6->autoviz) (4.65.0)
Requirement already satisfied: pyct>=0.4.4 in d:\new folder\anaconda\lib\site-packages (from panel>=0.12.6->autoviz) (0.5.0)
Requirement already satisfied: bleach in d:\new folder\anaconda\lib\site-packages (from panel>=0.12.6->autoviz) (4.1.0)
Requirement already satisfied: setuptools>=42 in d:\new folder\anaconda\lib\site-packages (from panel>=0.12.6->autoviz) (68.0.0)
Requirement already satisfied: scipy>=1.5.0 in d:\new folder\anaconda\lib\site-packages (from scikit-learn->autoviz) (1.11.1)
Requirement already satisfied: joblib>=1.1.1 in d:\new folder\anaconda\lib\site-packages (from scikit-learn->autoviz) (1.2.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in d:\new folder\anaconda\lib\site-packages (from scikit-learn->autoviz) (2.2.0)
Requirement already satisfied: click in d:\new folder\anaconda\lib\site-packages (from nltk->autoviz) (8.0.4)
Requirement already satisfied: regex>=2021.8.3 in d:\new folder\anaconda\lib\site-packages (from nltk->autoviz) (2022.7.9)
Requirement already satisfied: patsy>=0.5.2 in d:\new folder\anaconda\lib\site-packages (from statsmodels->autoviz) (0.5.3)
Requirement already satisfied: MarkupSafe>=2.0 in d:\new folder\anaconda\lib\site-packages (from Jinja2>=2.9->bokeh~=2.4.2->autoviz) (2.1.1)
Requirement already satisfied: six in d:\new folder\anaconda\lib\site-packages (from patsy>=0.5.2->statsmodels->autoviz) (1.16.0)
Requirement already satisfied: colorama in d:\new folder\anaconda\lib\site-packages (from tqdm>=4.48.0->panel>=0.12.6->autoviz) (0.4.6)
Requirement already satisfied: webencodings in d:\new folder\anaconda\lib\site-packages (from bleach->panel>=0.12.6->autoviz) (0.5.1)
Requirement already satisfied: charset-normalizer<4,>=2 in d:\new folder\anaconda\lib\site-packages (from requests->panel>=0.12.6->autoviz) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in d:\new folder\anaconda\lib\site-packages (from requests->panel>=0.12.6->autoviz) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in d:\new folder\anaconda\lib\site-packages (from requests->panel>=0.12.6->autoviz) (1.26.16)
Requirement already satisfied: certifi>=2017.4.17 in d:\new folder\anaconda\lib\site-packages (from requests->panel>=0.12.6->autoviz) (2023.7.22)

In [32]:
from autoviz.AutoViz_Class import AutoViz_Class
AV=AutoViz_Class()

Imported v0.1.803. After importing autoviz, you must run '%matplotlib inline' to display charts inline.
    AV = AutoViz_Class()
    dfte = AV.AutoViz(filename, sep=',', depVar='', dfte=None, header=0, verbose=1, lowess=False,
               chart_format='svg',max_rows_analyzed=150000,max_cols_analyzed=30, save_plot_dir=None)

In [33]:
filename = "titanic.csv"
sep = ","
dft = AV.AutoViz(
    filename,
    sep=",",
    depVar="",
    dfte=None,
    header=0,
    verbose=0,
    lowess=False,
    chart_format="svg",
    max_rows_analyzed=150000,
    max_cols_analyzed=30,
)

    pandas ascii encoder does not work for this file. Continuing...
    pandas utf-8 encoder does not work for this file. Continuing...
    pandas iso-8859-1 encoder does not work for this file. Continuing...
    pandas cp1252 encoder does not work for this file. Continuing...
    pandas latin1 encoder does not work for this file. Continuing...
Not able to read or load file. Please check your inputs and try again...

In [34]:
import seaborn as sns

In [35]:
print(sns.get_dataset_names())

[]

In [36]:
df=sns.load_dataset('titanic')
df.head(5)

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

In [37]:
!pip install pandas_visual_analysis

Requirement already satisfied: pandas_visual_analysis in d:\new folder\anaconda\lib\site-packages (0.0.4)
Requirement already satisfied: setuptools>=49.2.0 in d:\new folder\anaconda\lib\site-packages (from pandas_visual_analysis) (68.0.0)
Requirement already satisfied: pandas>=1.1.0 in d:\new folder\anaconda\lib\site-packages (from pandas_visual_analysis) (2.0.3)
Requirement already satisfied: ipywidgets>=7.5.1 in d:\new folder\anaconda\lib\site-packages (from pandas_visual_analysis) (8.0.4)
Requirement already satisfied: numpy>=1.19.1 in d:\new folder\anaconda\lib\site-packages (from pandas_visual_analysis) (1.24.3)
Requirement already satisfied: plotly>=4.10.0 in d:\new folder\anaconda\lib\site-packages (from pandas_visual_analysis) (5.9.0)
Requirement already satisfied: blinker>=1.4 in d:\new folder\anaconda\lib\site-packages (from pandas_visual_analysis) (1.7.0)
Requirement already satisfied: ipykernel>=4.5.1 in d:\new folder\anaconda\lib\site-packages (from ipywidgets>=7.5.1->pandas_visual_analysis) (6.25.0)
Requirement already satisfied: ipython>=6.1.0 in d:\new folder\anaconda\lib\site-packages (from ipywidgets>=7.5.1->pandas_visual_analysis) (8.15.0)
Requirement already satisfied: traitlets>=4.3.1 in d:\new folder\anaconda\lib\site-packages (from ipywidgets>=7.5.1->pandas_visual_analysis) (5.7.1)
Requirement already satisfied: widgetsnbextension~=4.0 in d:\new folder\anaconda\lib\site-packages (from ipywidgets>=7.5.1->pandas_visual_analysis) (4.0.5)
Requirement already satisfied: jupyterlab-widgets~=3.0 in d:\new folder\anaconda\lib\site-packages (from ipywidgets>=7.5.1->pandas_visual_analysis) (3.0.5)
Requirement already satisfied: python-dateutil>=2.8.2 in d:\new folder\anaconda\lib\site-packages (from pandas>=1.1.0->pandas_visual_analysis) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in d:\new folder\anaconda\lib\site-packages (from pandas>=1.1.0->pandas_visual_analysis) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in d:\new folder\anaconda\lib\site-packages (from pandas>=1.1.0->pandas_visual_analysis) (2023.3)
Requirement already satisfied: tenacity>=6.2.0 in d:\new folder\anaconda\lib\site-packages (from plotly>=4.10.0->pandas_visual_analysis) (8.2.2)
Requirement already satisfied: comm>=0.1.1 in d:\new folder\anaconda\lib\site-packages (from ipykernel>=4.5.1->ipywidgets>=7.5.1->pandas_visual_analysis) (0.1.2)
Requirement already satisfied: debugpy>=1.6.5 in d:\new folder\anaconda\lib\site-packages (from ipykernel>=4.5.1->ipywidgets>=7.5.1->pandas_visual_analysis) (1.6.7)
Requirement already satisfied: jupyter-client>=6.1.12 in d:\new folder\anaconda\lib\site-packages (from ipykernel>=4.5.1->ipywidgets>=7.5.1->pandas_visual_analysis) (7.4.9)
Requirement already satisfied: jupyter-core!=5.0.*,>=4.12 in d:\new folder\anaconda\lib\site-packages (from ipykernel>=4.5.1->ipywidgets>=7.5.1->pandas_visual_analysis) (5.3.0)
Requirement already satisfied: matplotlib-inline>=0.1 in d:\new folder\anaconda\lib\site-packages (from ipykernel>=4.5.1->ipywidgets>=7.5.1->pandas_visual_analysis) (0.1.6)
Requirement already satisfied: nest-asyncio in d:\new folder\anaconda\lib\site-packages (from ipykernel>=4.5.1->ipywidgets>=7.5.1->pandas_visual_analysis) (1.5.6)
Requirement already satisfied: packaging in d:\new folder\anaconda\lib\site-packages (from ipykernel>=4.5.1->ipywidgets>=7.5.1->pandas_visual_analysis) (23.1)
Requirement already satisfied: psutil in d:\new folder\anaconda\lib\site-packages (from ipykernel>=4.5.1->ipywidgets>=7.5.1->pandas_visual_analysis) (5.9.0)
Requirement already satisfied: pyzmq>=20 in d:\new folder\anaconda\lib\site-packages (from ipykernel>=4.5.1->ipywidgets>=7.5.1->pandas_visual_analysis) (23.2.0)
Requirement already satisfied: tornado>=6.1 in d:\new folder\anaconda\lib\site-packages (from ipykernel>=4.5.1->ipywidgets>=7.5.1->pandas_visual_analysis) (6.3.2)
Requirement already satisfied: backcall in d:\new folder\anaconda\lib\site-packages (from ipython>=6.1.0->ipywidgets>=7.5.1->pandas_visual_analysis) (0.2.0)
Requirement already satisfied: decorator in d:\new folder\anaconda\lib\site-packages (from ipython>=6.1.0->ipywidgets>=7.5.1->pandas_visual_analysis) (5.1.1)
Requirement already satisfied: jedi>=0.16 in d:\new folder\anaconda\lib\site-packages (from ipython>=6.1.0->ipywidgets>=7.5.1->pandas_visual_analysis) (0.18.1)
Requirement already satisfied: pickleshare in d:\new folder\anaconda\lib\site-packages (from ipython>=6.1.0->ipywidgets>=7.5.1->pandas_visual_analysis) (0.7.5)
Requirement already satisfied: prompt-toolkit!=3.0.37,<3.1.0,>=3.0.30 in d:\new folder\anaconda\lib\site-packages (from ipython>=6.1.0->ipywidgets>=7.5.1->pandas_visual_analysis) (3.0.36)
Requirement already satisfied: pygments>=2.4.0 in d:\new folder\anaconda\lib\site-packages (from ipython>=6.1.0->ipywidgets>=7.5.1->pandas_visual_analysis) (2.15.1)
Requirement already satisfied: stack-data in d:\new folder\anaconda\lib\site-packages (from ipython>=6.1.0->ipywidgets>=7.5.1->pandas_visual_analysis) (0.2.0)
Requirement already satisfied: colorama in d:\new folder\anaconda\lib\site-packages (from ipython>=6.1.0->ipywidgets>=7.5.1->pandas_visual_analysis) (0.4.6)
Requirement already satisfied: six>=1.5 in d:\new folder\anaconda\lib\site-packages (from python-dateutil>=2.8.2->pandas>=1.1.0->pandas_visual_analysis) (1.16.0)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in d:\new folder\anaconda\lib\site-packages (from jedi>=0.16->ipython>=6.1.0->ipywidgets>=7.5.1->pandas_visual_analysis) (0.8.3)
Requirement already satisfied: entrypoints in d:\new folder\anaconda\lib\site-packages (from jupyter-client>=6.1.12->ipykernel>=4.5.1->ipywidgets>=7.5.1->pandas_visual_analysis) (0.4)
Requirement already satisfied: platformdirs>=2.5 in d:\new folder\anaconda\lib\site-packages (from jupyter-core!=5.0.*,>=4.12->ipykernel>=4.5.1->ipywidgets>=7.5.1->pandas_visual_analysis) (3.10.0)
Requirement already satisfied: pywin32>=300 in d:\new folder\anaconda\lib\site-packages (from jupyter-core!=5.0.*,>=4.12->ipykernel>=4.5.1->ipywidgets>=7.5.1->pandas_visual_analysis) (305.1)
Requirement already satisfied: wcwidth in d:\new folder\anaconda\lib\site-packages (from prompt-toolkit!=3.0.37,<3.1.0,>=3.0.30->ipython>=6.1.0->ipywidgets>=7.5.1->pandas_visual_analysis) (0.2.5)
Requirement already satisfied: executing in d:\new folder\anaconda\lib\site-packages (from stack-data->ipython>=6.1.0->ipywidgets>=7.5.1->pandas_visual_analysis) (0.8.3)
Requirement already satisfied: asttokens in d:\new folder\anaconda\lib\site-packages (from stack-data->ipython>=6.1.0->ipywidgets>=7.5.1->pandas_visual_analysis) (2.0.5)
Requirement already satisfied: pure-eval in d:\new folder\anaconda\lib\site-packages (from stack-data->ipython>=6.1.0->ipywidgets>=7.5.1->pandas_visual_analysis) (0.2.2)

In [38]:
from pandas_visual_analysis import VisualAnalysis

In [39]:
df.describe()

        survived     pclass        age        sibsp       parch       fare
count  891.000000  891.000000  714.000000  891.000000  891.000000  891.000000
mean     0.383838    2.308642   29.699118    0.523008    0.381594   32.204208
std      0.486592    0.836071   14.526497    1.102743    0.806057   49.693429
min      0.000000    1.000000    0.420000    0.000000    0.000000    0.000000
25%      0.000000    2.000000   20.125000    0.000000    0.000000    7.910400
50%      0.000000    3.000000   28.000000    0.000000    0.000000   14.454200
75%      1.000000    3.000000   38.000000    1.000000    0.000000   31.000000
max      1.000000    3.000000   80.000000    8.000000    6.000000  512.329200

In [45]:
import matplotlib.pyplot as plt
%matplotlib inline

# Assuming df is your DataFrame
plt.scatter(df['sepal_length'], df['petal_width'])
plt.xlabel('Sepal Length')
plt.ylabel('Petal Width')
plt.title('Scatter Plot of Sepal Length vs Petal Width')
plt.show()

KeyError: 'sepal_length'

2024-01-10 23:08:46,908 - INFO     - Executing shutdown due to inactivity...
2024-01-10 23:08:50,979 - INFO     - Executing shutdown...
2024-01-10 23:08:50,982 - INFO     - Not running with the Werkzeug Server, exiting by searching gc for BaseWSGIServer
2024-01-10 23:08:51,119 - ERROR    - weakly-referenced object no longer exists
2024-01-10 23:08:51,129 - ERROR    - weakly-referenced object no longer exists
2024-01-10 23:08:51,130 - ERROR    - weakly-referenced object no longer exists
2024-01-10 23:08:51,131 - ERROR    - weakly-referenced object no longer exists
2024-01-10 23:08:51,132 - ERROR    - weakly-referenced object no longer exists
2024-01-10 23:08:51,133 - ERROR    - weakly-referenced object no longer exists
2024-01-10 23:08:51,136 - ERROR    - weakly-referenced object no longer exists
2024-01-10 23:08:51,136 - ERROR    - weakly-referenced object no longer exists

In [44]:
VisualAnalysis(df)

VBox(children=(ToggleButtons(_dom_classes=('layout-8249f41c0d864450b6844fca4ab28049',), description='Selectionâ€¦